body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.square {
  background-color: white;
  width: 60px;
  height: 60px;
  font-size: 2em;
  font-weight: 700;
  border-width: 1px;
  position:static;
}

.board-row {
  display: flex;
  background-color: white;
  width: 180px;
  height: 60px;
}

.status {
  width: 180px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
}